body {
	max-width: 900px;
	margin: auto;
	margin-top: 20px;
	background-color: black;
	font-family:  "Verdana", Geneva, sans-serif;
	line-height: 20px;
	font-weight: bold;
}

.text{
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-family:  "Verdana", Geneva, sans-serif;
}

h1.balign {
	position: relative;
	top: 49px;
}

/*color classes*/
.lgreen {background-color: yellowgreen;}
.green {background-color: #507437;}

a {
	display: block;
	text-decoration: none;
}

/*div classes*/

div{
	display: block;
	border: none;
}

.image{
	width: 170px;
	height: 170px;
	margin: 20px auto;
}

/*link not working properly*/
.cancel {
	color: #FF8471;
	position: absolute;
	bottom: 20px;
	left: 15px;
}

.box {
	width: 400px;
	text-align: center;
	position: relative;
}

.screen {
	height: 800px;  
	background-color: #C4D2AF; 
	margin-left: auto;
	margin-right: auto;
}

.header{
	height: 105px;
	padding: 10px 0px;
}

.footer{
	display: flex;
	justify-content: center;
	height: 105px;
	padding: 10px 0px;
	align-items: center;
}

.entries {
	overflow: auto;
	height: 550px;
}
.entries::-webkit-scrollbar {display: none;}

.forms{
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	height: 550px;
}

/* entries formatting -------------------------------------*/
.entry{
	border-bottom: 2px solid #707070;
	padding: 20px;
	width: 360px;
	height: 120px;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.smallimage{
	width: 100px;
	height: 110px;
}

.flexrow{
	display: flex;
	flex-flow: row;
	padding: 0px 20px;
	justify-content: space-between;
}

.textInfo {
	text-align: left;
	padding-left: 20px;
}

.dateBox {
	border-radius: 10px;
	padding: 1px 10px;
	position: relative;
	right: 5px;
}

.textDom {
	color: white;
	font-size:  22px;
	line-height: 5px;
}

.textSub{
	color: #707070;
	font-size: 12px;
	line-height: 0px;
}

.watering{
	height: 90px;
	width: 90px;
	border-radius: 45px;
	border: 3px solid #67B1E3;
	background-color: #DAF3FA;
	position: relative;
	left: 15px;
}

/*form-atting ---------------------------------------------*/
input[type="text"] {
	width: 180px;
	border: none;
	border-bottom: 4px dashed #507437;
	background-color: #C4D2AF;
	resize: none;
	text-align: center;
}

input[type="text"]:focus {
	outline: none;
}

select {
	font-family:  "Verdana", Geneva, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #507437;
	border: 2px solid #507437;
	padding: 10px;
}

/* switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display:block;
  top: 15px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF8471;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: yellowgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

